

	<!-- Here, add the display of the book info,
       the buttons for editing or deleting,
       the form and buttons that will show if you
       click edit. Don't forget that all of those
       buttons and forms will need some angular
       functionality! -->

<div class="container col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- begin books display -->
      <div class="row">

        <div class="col-md-4 col-xs-12 thumbnail">
          <img src="{{bookCtrl.book.image}}" alt="book image" />
        </div>

        <div class="col-md-8 col-xs-12">
          <ul class="list-group form inline">
            <li class="list-group-item">
              <h4 class="inline-header">{{bookCtrl.book.title}}</h4>
							<input ng-show="editing" ng-model="bookCtrl.book.title" type="text" class="form-control input-md">
              <h4 class="inline-header">{{bookCtrl.book.author}}</h4>
							<input ng-show="editing" ng-model="bookCtrl.book.author" type="text" class="form-control input-md">
              <h4 class="inline-header">{{bookCtrl.book.releaseDate}}</h4>
							<input ng-show="editing" ng-model="bookCtrl.book.releaseDate" type="text" class="form-control input-md">
            </li>
          </ul>
        </div>

				<button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit</button>
				<button class="btn btn-primary" ng-click="bookCtrl.deleteBook(bookCtrl.book)">Delete</button>
        <button type='reset' class='btn btn-info' ng-show="editing" ng-click="editing=false">Cancel</button>
        <button type='submit' class='btn btn-success' ng-show="editing" ng-click="bookCtrl.editBook(bookCtrl.book); editing = false">Save Changes</button>

      </div>

    </div>
  </div>
</div>
